body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

header, footer {
  background: #282c34;
  color: white;
  padding: 1em;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}

ul#post-list {
  list-style: none;
  padding: 0;
}

ul#post-list li {
  margin: 1em 0;
}

ul#post-list li a {
  text-decoration: none;
  color: #007acc;
}

#post-view {
  padding-top: 1em;
}

@media (max-width: 600px) {
  main {
    padding: 0 1em;
  }
}
